*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Alata", serif;
    font-weight: 400;
    font-style: normal;
}
.sample{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.container1{
background-color: #695ACD;
text-align: center;
height: auto;
max-width:75rem;
overflow: auto;
box-shadow: 3px 3px 3px grey ;
}
img{
    height: 190px;
    border-radius: 15px;
    margin-bottom: 3px;
    margin-top: 5px;
    border-radius:20%;
    box-shadow: 3px 3px 3px black;
}

a{
    text-decoration: none;
    color:whitesmoke;
}
.h21{
    font-size: xx-small;
}
button{
    padding: 6px 15px;
    background-color: #1877F2;
    border-style: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 13px;
    box-shadow: 2px 2px 2px black;
    margin-bottom: 6px;
    row-gap: 8px;
}


